# !!!DANGER!!!
#
# The following is a workaround to get the SIM card working under enforcing SELinux.
# Normally the radio (comm="m.android.phone") needs to access some libs located on the
# oem partition - but as this partition is read-only and I can't therefore not relabel
# these files, the app would crash.
#
# * /product/framework
# * /odm/ext_system/framework
# * /product/priv-app/ims/lib/arm64
#
# When you read this: Feel free to fix it!
#
# !!!DANGER!!!
permissive radio;

# !!!DANGER!!!
#
# The following is a workaround to get some libs mounted correctly, as - again - I can't
# relabel them as they are located on the oem partition.
#
# Affected path:
# * /product/framework
#
# When you read this: Feel free to fix it!
#
# !!!DANGER!!!
permissive init;
