#============= bootanim ==============
allow bootanim sysfs_msm_subsys:dir search;
allow bootanim sysfs_msm_subsys:file { getattr open read };

#============= crash_dump ==============
allow crash_dump hwservicemanager_prop:file { getattr map open };

#============= dpmd ==============
#allow dpmd self:capability { dac_override setuid };

#============= hal_imsrtp ==============
allow hal_imsrtp socket_device:sock_file write;

#============= ims ==============
allow ims socket_device:sock_file write;
allow ims vendor_net_prop:file { getattr map open read };

#============= init ==============
allow init system_file:file mounton;
allow init vendor_firmware_file:filesystem getattr;

#============= platform_app ==============
allow platform_app sysfs_msm_subsys:dir search;
allow platform_app sysfs_msm_subsys:file { getattr open read };

#============= priv_app ==============
allow priv_app device:dir open;
allow priv_app hal_memtrack_default:binder call;
allow priv_app proc_interrupts:file open;
allow priv_app proc_modules:file open;
allow priv_app sysfs:dir open;
allow priv_app sysfs_loop:file read;
allow priv_app sysfs_msm_subsys:file { getattr open read };
allow priv_app vendor_firmware_file:filesystem getattr;

#============= radio ==============
#allow radio default_android_service:service_manager add;
allow radio ims:binder { call transfer };
#allow radio vendor_file:file { execute getattr map open read };
allow radio vendor_radio_prop:file { getattr map open read };
allow radio vnd_qti_uce_hwservice:hwservice_manager find;

#============= surfaceflinger ==============
allow surfaceflinger sysfs_msm_subsys:dir search;
allow surfaceflinger sysfs_msm_subsys:file { getattr open read };

#============= system_app ==============
allow system_app sysfs_msm_subsys:dir search;

#============= system_server ==============
allow system_server sysfs_msm_subsys:file { getattr open read };
allow system_server vendor_security_patch_level_prop:file { getattr map open read };
#allow system_server sysfs:file { getattr open read };

####============= timekeep_app ==============
###allow timekeep_app cgroup:file { open write };

#============= ueventd ==============
allow ueventd self:capability sys_nice;
