#============= surfaceflinger ==============
allow surfaceflinger sysfs_msm_subsys:dir search;
allow surfaceflinger sysfs_msm_subsys:file { getattr open read };
