#============= system_server ==============
allow system_server sysfs_msm_subsys:file { getattr open read };
allow system_server vendor_security_patch_level_prop:file { getattr map open read };
allow system_server sysfs:file { getattr open read };
